/**
 * Styling of standard HTML elements.
 */

body {
  // gtranslate sets position: relative; on body element resulting in absolute
  // positioned elements witin the body context getting push down by the top
  // margin on the body-element. Since it's added inline on the element the
  // easiest approach is to override it here with important.
  position: static !important;
}

h1 {
  color: $color-primary;
}

a {
  color: $color-text-link;
  &:hover {
    color: $charcoal;
  }
}

ul, ol {
  list-style-position: outside;
}

/* Vertical rhythm in paragraphs */
p {
  margin: 0 0 20px;
}
